<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dongtech.mapper.loan.DealRecordMapper">
  
  <resultMap id="BaseResultMap" type="com.dongtech.model.loan.DealRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="deal_no" jdbcType="BIGINT" property="dealNo" />
    <result column="deal_status" jdbcType="INTEGER" property="dealStatus" />
    <result column="deal_money" jdbcType="DOUBLE" property="dealMoney" />
    <result column="deal_time" jdbcType="TIMESTAMP" property="dealTime" />
    <result column="deal_type" jdbcType="INTEGER" property="dealType" />
    <result column="deal_desc" jdbcType="VARCHAR" property="dealDesc" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, uid, deal_no, deal_status, deal_money, deal_time, deal_type, deal_desc
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from b_deal_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="getDealRecordByUid" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from b_deal_record
    where uid = #{uid,jdbcType=INTEGER} and deal_type = #{dealType,jdbcType=INTEGER} 
	order by deal_time desc limit #{limit,jdbcType=INTEGER} 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_deal_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.dongtech.model.loan.DealRecord">
    insert into b_deal_record (id, uid, deal_no, 
      deal_status, operate_money, deal_time, 
      deal_type, deal_desc)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{dealNo,jdbcType=BIGINT}, 
      #{dealStatus,jdbcType=INTEGER}, #{operateMoney,jdbcType=DOUBLE}, #{dealTime,jdbcType=TIMESTAMP}, 
      #{dealType,jdbcType=INTEGER}, #{dealDesc,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.dongtech.model.loan.DealRecord">
    insert into b_deal_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="dealNo != null">
        deal_no,
      </if>
      <if test="dealStatus != null">
        deal_status,
      </if>
      <if test="dealMoney != null">
        deal_money,
      </if>
      <if test="dealTime != null">
        deal_time,
      </if>
      <if test="dealType != null">
        deal_type,
      </if>
      <if test="dealDesc != null">
        deal_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="dealNo != null">
        #{dealNo,jdbcType=BIGINT},
      </if>
      <if test="dealStatus != null">
        #{dealStatus,jdbcType=INTEGER},
      </if>
      <if test="dealMoney != null">
        #{dealMoney,jdbcType=DOUBLE},
      </if>
      <if test="dealTime != null">
        #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealType != null">
        #{dealType,jdbcType=INTEGER},
      </if>
      <if test="dealDesc != null">
        #{dealDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.dongtech.model.loan.DealRecord">
    update b_deal_record
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="dealNo != null">
        deal_no = #{dealNo,jdbcType=BIGINT},
      </if>
      <if test="dealStatus != null">
        deal_status = #{dealStatus,jdbcType=INTEGER},
      </if>
      <if test="operateMoney != null">
        operate_money = #{operateMoney,jdbcType=DOUBLE},
      </if>
      <if test="dealTime != null">
        deal_time = #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealType != null">
        deal_type = #{dealType,jdbcType=INTEGER},
      </if>
      <if test="dealDesc != null">
        deal_desc = #{dealDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>